<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/news">
        <h1>Выберите источник и кол-во новостей</h1>
        <select name="resource">
            <option value="habr">Habr</option>
            <option value="dddnews">3dnews</option>
            <option value="navalny">Navalny</option>
        </select>
        <input type="number" name="count" min="1" max="20">
        <button type="submit">SEND</button>
    </form>
    <ul></ul>
</body>

</html>