<link rel="stylesheet" href="../public/styles/app.css">

<form action="/signin" method="post" class="auth">
    <input type="email" name="email" placeholder="Email" value="{{email}}" required>
    <input type="password" name="password" placeholder="Password" required>
    <div>
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember email</label>
    </div>
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <div class="auth__submit">
        <a href="/signup">Sign up</a>
        <button type="submit">Sign in</button>
    </div>
</form>
<form action="/signin/google" method="get" class="auth">
    <button type="submit">Google auth</button>
</form>