* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #00a7ff;
}

a:hover {
  color: #0f567b;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #a6e0ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

button:hover {
  background: #00a7ff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

button:active {
  color: white;
  border: none;
  background: #0f567b;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:focus {
  outline: 0;
}

input,
textarea,
select {
  padding: 4px 8px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

select * {
  border-radius: 6px;
}
